*{
    padding: 0;
    margin: 0;
}

body{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    margin: 0 auto;
}

h1{
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
    font-weight: 600;
    text-transform: uppercase;
}

nav{
    background-color: blueviolet;
    min-height: 48px;
    padding: 18px 0 0 0;
}

ul.nav{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
}

ul.nav li{
    margin: 0 24px;
}

ul.nav li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}

